.main {
    -fx-background-image: url("/login/imagens/background.jpg");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
    -fx-font-family: "Sans-Serif";
    -fx-padding: 150;
    -fx-background-color: #E6E6E6;
}